* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.btn {
    --height: 57px;

    display: inline-block;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    color: #fff;
    background: #143c3c;
    transition: 0.25s;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.change-position {
    position: absolute;
}
.extra-avstract {
    width: 72px;
    height: 72px;
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
}
.logo__text {
    display: inline-block;
    text-align: right;
    color: #000;
    text-transform: uppercase;
}
/* Header */
.header {
    position: sticky;
    top: -15px;
    z-index: 1;
    padding-top: 28px;
    padding-bottom: 13px;
    font-family: "Public Sans", sans-serif;
    background-color: #fff;
}
.header-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top::after {
    content: "";
    display: block;
    position: absolute;
    top: 70px;
    height: 1px;
    width: 100%;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}
.header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    margin-right: 88px;
}
.navbar__list {
    display: flex;
    column-gap: 38px;
}
.navbar__item {
    display: inline-block;
    position: relative;
}
.navbar__link {
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.55;
    color: #575d5e;
    transition: 0.25s ease;
}
.navbar__item-hover {
    z-index: 1;
    position: absolute;
    display: none;
    margin-top: 27px;
    width: 16px;
    height: 2px;
    background: #143c3c;
}
.navbar__item:hover {
    color: #152427;
}
.navbar__item:hover .navbar__item-hover {
    display: block;
}
/* Hero */
.hero {
    padding: 0px 0 165px;
    font-family: "Public Sans", sans-serif;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
}
.hero__body {
    padding: 103px 0 143px;
    position: relative;
    flex-shrink: 0;
    text-align: left;
}
.hero__heading {
    width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}
.hero__desc {
    width: 341px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}
.hero__action {
    display: flex;
    align-items: center;
    column-gap: 36px;
    margin-top: 42px;
}
.hero__extra-avstract {
    top: 38px;
    right: 53.58px;
    transform: rotate(-170.39deg);
}
.hero-media {
    position: relative;
    padding-top: 60px;
    max-width: 646px;
    background: url("../img/ellipse.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.hero__line {
    width: 545px;
    top: 27.93px;
    left: -220px;
}
.hero-media__images {
    display: flex;
    column-gap: 20px;
    height: 543px;
}
.hero-media__img {
    display: inline-block;
    max-width: 202px;
    height: 466px;
    border-radius: 110px;
}
.hero-media__img--translateY {
    transform: translateY(77px);
}
.hero__line-bottom {
    width: 545px;
    bottom: -77px;
    left: 31px;
    transform: rotate(-4.05deg);
}
.hero-media__extra-avstract {
    right: 25.12px;
    bottom: -23px;
    transform: rotate(-5.34deg);
}
